*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto";
    scroll-behavior: smooth;
}

p{
    font-weight:300;
    color:black;
}
h1{
    font-size:80px;
    font-weight:700;
}
h2{
    font-size:45px;
    font-weight:700;
}
.banner{
    position:relative;
    width:100%;
    height:60vh;
    /* max-height:100vh; */
    /* height:calc(100vh - 80px); */
     top:88px;
    left:24px;
   right:50px;
    display:flex;
    /* flex-shrink: inherit; */
    justify-content: center;
    align-items:center;
    background:url(image1.png);
    border-radius:16px;
    /* background:no-repeat; */
    /* background-size:cover; */
    /* border-radius:16px; */
}
header{
    position:fixed;
    left:0;
    width:100%;
    padding-top:25px;
    padding-left:24px;
    padding-bottom:34px;
    z-index:10000;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.5s;
}
header.sticky{
    background:white;
    padding:10px 10px;
       box-shadow:0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    top:34px;
    left:24px;
}
header .sticky .logo{
    color:white;
}
header .navigation{
    position:relative;
    display:flex;
}
header .navigation li{
    list-style:none;
    margin-left:30px;
}
header .navigation li a{
    text-decoration: none;
    font-size:16px;
    font-weight:bold;
    color:black;
}
header .sticky .navigation li a{
    color:#111;
}
header .navigation li a:hover
{
    color:#ff0157;
}
section{
    padding:90px;
    padding-bottom:2px;
}
.row{
    position:relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    /* padding-bottom:5px; */
    text-align:justify;
}
.btn{
     font-size: 16px;
        color: white;
        background: black;
        padding-top: 25px;
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        text-align: center;
        /* height: 50px; */
        /* transition: 0.5s; */
        border-radius: 4px;
        margin-top: 20px;
}
.btn:hover{
    /* letter-spacing:5px; */

}
.p1{
    text-align:justify;
}
table{
    width:105%;
    border-spacing: 15px;
}
table, th, td {
    padding: 1px;
  }
  
th{
    text-align:center;
}
tr td{
   padding:2px; 
   text-align:left;
}
.text-space2{
    padding-left:80px;
}
.text-space3{
    padding-left:40px;
}
.text-space4{
    padding-left:80px;
}
.row .col49 {
    position:relative;
    width:100%;
    /* padding-left:35px; */
}
.row .col50
{
    position:relative;
    width:48%;
    padding-left:65px;
    background:url(Rectangle7.jpg);
    height: 325px;
    background-repeat: no-repeat;
    top:2px;
}
.row .col50 .app-img{
    position:relative;
    width:100%;
    min-height:300px;
}
.row .col50 .app-img img{
    position: absolute;
    /* width:75%;
    height:100%; */
    top:0;
    left:0;
    float:right;
    
}
.row .col49 {
    position: relative;
    width: 100%;
    padding-left: 45px;
}
.row .col49 .title-text{
    width:100%;
}
/* .row .col47 .img2{
    position:relative;
    width:100%;
    min-height:500px;
}
.row .col47 .img2 img{
    position: absolute;
    /* width:75%;
    height:100%; */
    /* top:30px;;
    left:0 */
/* }  */
section .why-join-us{
    padding-top:35px;
}
.row .col48
{
    position:relative;
    width:60%;
    padding-left:90px;
    padding-top:20px;
}
.why-join-us .row .col49{
     position:relative;
    /* width:80%; */
    /* padding-left:35px; */
}
/* .row .col48.img2 {
    position:relative;
    width:85%;
    height:500px;
}
.row .col48 .img2 img{
 position: relative; 
    top:30px;
    top:0;
    left:0;
    float:right;
} */
.how section{
    margin-top:5px;
    padding-top:35px;
}
.row .col47{
    padding-left:15px;
}
.row .col51{
    padding-left:67px;
    padding-top:180px;
}
.row .col52{
    padding-left:728px;
}


#my-row {
    /* background-color: red; */
    margin-left: 65px;
    margin-right: -1px;
    margin-top:20px;
    /* margin-right: -418px; */
  }
  
  /* #my-col3 {
    /* background-color: blue; */
    /* color:black;
    padding-left: 110px;
    padding-right: 10px;
      }
      h4{
          line-height:25px;
      }
#my-col1{
    padding-left: 5px;
    padding-right:30px; */
    /* padding-right: 10px; */
  /* }
  #my-col2{
    padding-left: 30px;
    padding-right: 10px; */
  /* } */
  /* p {
    background-color: green;
  } */
  /* .rect-img{
      padding-top:2px;
      padding-left:35px;
      padding-bottom:25px;
      /* margin: 3%;  */
    /* position: relative; */
  /* }  */
  
 .rect1{
    position: absolute; 
            top: 180px; 
            left: 60px; 
}
h5{
    padding-left:65px;
}

.text-space{
    padding-left:20px;
}
.rect2{
    position: absolute; 
    top: 180px; 
    left:420px; 
}
.rect3{
    position: absolute; 
    top: 180px; 
    left: 780px; 
}
  .rect-img .img-space{
      padding:16px;
  } /* .rect-img .img-space{
      padding:8px;
  } */
  .footer-img{
    position:relative;
    width:90%;
    /* min-height:381px */
    /* height:calc(100vh - 100px); */
    min-height:60vh;
     top:600px;
    left:110px;
    bottom:200px;
    /* right:-200px; */
    display:flex;
    /* flex-shrink: inherit; */
    justify-content: center;
    align-items:center;
    background:url(Rectangle6.jpg);
    /* opacity: 20px; */
    /* background:no-repeat; */
    background-size:cover;
    border-radius:16px;
}
.footer .content{
    /* top:750px */
}
.footer .content {
    text-align:center;
    }
.footer .content a .btn{
    /* font-size:1em;
    color:white;
    display:inline-block;
    padding-top:2px;
    margin-top:2px;
    text-transform:uppercase;
    text-decoration:none;
    transition:0.5s;
    font-size:16px; */
    color:white;
    background:black;
    padding:10px 30px;
    text-decoration:none;
    text-align: start;
    height:51px;
    /* transition:0.5s; */
    border-radius:4px;
    margin-top:12px;
}
 /* hr.new4 {
    border: 3px;
        left:150px;
    height: 50px;
    
    max-width:50%
  } */
 
  #footer {
    position: relative; 
     bottom : 0;
     height:60px;
     margin-top : 600px;
     text-align: center ;
     font-size: 16px ;
     font-family: 'Roboto' ;
     }
     hr {
        border-bottom: 3px solid black;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top:80px;
        border-top:0px;
        border-left:0px;
        border-right:0px;
      }
   #footer .footer-link{
          top:80px;
          justify-content: space-evenly;
          line-height: 60px;
      }
      .space{
          padding-left:20px;
      }
      @media only screen and (max-width: 360px){
        .banner{
            /* position:relative; */
            width:75%;
            height:15vh;
            /* height:calc(100vh - 100px); */
             top:88px;
            left:16px;
            display:flex;
            right:20px;
            /* display:flex; */
            /* flex-shrink: inherit; */
            /* justify-content: center; */
            /* align-items:center; */
            background:url(image1-2p.jpg);
            /* background:no-repeat; */
            /* background-size:cover; */
            border-radius:16px;
        }
              h2{
            font-size:36px;
            font-weight:700;
        }
        .wrapper{
            width:360px;
            margin: 0 auto;
            /* padding: 0 24px; */
            /* padding-top:24px; */
        }
          header,header.sticky{
              padding:10px 20px;
          }
          header .navigation{
              display:none;
          }
          section{
              padding:25px;
              padding-left:2px;
          }
          h1{
              font-size:46px;
              font-weight:700px;
          }
          .row{
              flex-direction:column;
               position: relative;
                display: flex;
                /* justify-content: space-between; */
                margin-top:2px;
                font-size:16px;
                padding-left:8px;
          }
          p{
              font-size:14px;
              font-weight:150;
          }
          .row .col49 {
            position: relative;
            width: 75%;
            padding-left:2px;
            padding-top:95px;
          }
          .row .col49 h2 .title-text {
            /* position: relative; */
            width: 75%;
            padding-left: 8px;
            padding-top:275px;
          }
         .row .col47{
            padding-top:10px;
            width:520px;
            /* height:500px; */
          }
          .row .col51{
            padding-top:10px;
            width:520px;
            /* height:500px; */
          }
         
          .row .col50{
              position:relative;
              width:100%;
              margin-top: 45px;
              /* left:55px; */
          }
          .row .col50 .app-img{
              position:relative;
              /* width:100%; */
              height:300px;
              margin-top:20px;
              left:45px;

              /* background:url(Rectangle-m-app.JPG);
              background-repeat: no-repeat; */
          }
          
          .row .col48{
            padding-left:15px;
            padding-top:30px;
            width:75%;
          }
          .row .col48 .img2 img{
            position: absolute;
            /* width:75%;
            height:100%; */
            top:12px;
            left:12px;;
            width:100%;
            background:url(imagem2.jpg);
        }
          /* section .why-join-us{
            padding-top:5px;
        } */
          .how{
            margin-top:5px;
            padding-top:200px;
        }
       
        .rect1{
            position: absolute; 
                    top: 280px; 
                    left: 50px; 
        }
        h4{
           padding-left:10px;
        }
        .rect2{
            position: absolute; 
            top: 760px; 
            left: 50px; 
        }
        .rect3{
            position: absolute; 
            top: 1250px; 
            left: 50px; 
        }
        .footer-img{
            position:relative;
            width:40%;
             min-height:10vh;
            /* height:calc(100vh - 100px); */
            /* height:5px; */
             /* top:600px; */
            /* left:110px; */
            /* bottom:200px; */
            /* right:-200px; */
            /* display:flex; */
            top:750px;
            height:25px;
            /* flex-shrink: inherit; */
            /* justify-content: center; */
            /* align-items:center; */
            /* background:url(footer.jpg); */
            /* opacity: 20px; */
            /* background:no-repeat; */
            /* background-size:cover; */
            border-radius:16px;
            font-size:12px;

        }
        .footer{
            text-align: left;
            padding-top: 820px;
            font-size:34px;
        }
      
        #footer .footer-link {
           /* padding-top: 1880px; */
            justify-content: space-evenly;
            /* line-height: 60px; */
        } 
        .content{
            text-align:left;

            padding-top:2550;
        }
        .footer-img .content {
            text-align:left;
            padding-top:1950;
    }
    .footer .footer-img .content {
            text-align:left;
            font-size:12px;
            padding-bottom:250;
    }
        div .footer-img{
            padding-left:0px;
        }
        #footer {
            position: absolute; 
             bottom : 0;
             height:60px;
             margin-top : 600px;
             /* margin-left:10px; */
            padding-top:2150px;

             /* text-align: center ; */
             /* font-size: 16px ; */
             /* font-family: 'Roboto' ; */
             }
        /* .footer-img{
           
            /* background-repeat:no-repeat; */
            /* height:100px; */
            /* width:100%; */
           /* top:1480px;
            bottom:200px;
            min-height:40vh;
            width:100%;
            background-size:cover;
            border-radius:16px;
            margin-left:0px;
            position:absolute;
            display:absolute;

            /* background: url(footer.jpg); */
            /* background-repeat:no-repeat;  */
        /* }  */
        
        hr {
            border-bottom: 3px solid black;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 2850px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
        }

      }