
  @media only screen and (min-width : 992px){
    * {
        font-family: "Roboto";
        color: black;
    }
    .wrapper {
       min-width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }
   .hero-image {
        background-image:url("./assets/img/image1-desk.png");
        height: 65vh;
        border-radius: 16px;
        width:100%;
        flex:auto;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    a {
        color: black;
    }

    .nav-item a:hover {
        color: blue;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    h1 {
        font-size:74px;
        font-weight: 700;
        color: black;
    }

    th,
    h2 {
        font-size:45px;
        font-weight: 700;

    }

    table,
    td,
    tr,
    th {
        border-collapse: collapse;
        border: none;
        column-span: 8px;
        
    }

    th {
        text-align: left;
    }

    td {
        text-align: left;
        font-size:13px;
        font-weight:bold;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
    }
    .box {
        position: relative;
    }

    .img-title {
        position: absolute;
        text-align: left;
        left: 85px;
        right: 0;
        top: 40%;
    }

    h6 {
        font-weight: bold;
    }

    footer {
        text-align: center;
        background: url("./assets/img/img-desk-footer.png");
        background-repeat: no-repeat;
        height: 65vh;
        background-position-x: center;
    }

    .my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-top: 3px solid black;
    }

    hr {
        border-top: 5px solid black;
        width: 50%;
        border-radius: 2px;
        opacity: 2;
        margin: 8rem 1rem;
        margin-top: 8rem !important;

    }

    hr {
        align-items: center;
    }
    #foot-items{
        font-size: 15px;
    justify-content: space-between;
    font-size:bold;
    }

    .copy {
        text-align: center;
    }
 }
 
@media all and (max-width: 415px) 
{
               * {
                
			overflow-x: hidden;
            font-family: "Roboto";
           color:black;
        }
        .wrapper {
            max-width: 415px; /* 20px smaller, to fit the paddings on the sides */
          
            padding-right: 10px;
            padding-left: 10px;
          
          }
          .img-app{
              width:80%;
          }
      .container-fluid{
          background-image: inherit;
          color:black;
      }
          .hero-image {
            background-image:url("./assets/img/image1-m-l-2p.jpg");
            height: 30vh;
            border-radius: 4px;
            width:100%;
            background-repeat: no-repeat;
            position: relative;
            display:flex;
            flex-wrap: wrap;
          }
        .navbar-nav .nav-item .nav-link {
            font-size: 16px;
            font-weight: bold;
            color: black;
        }

        a {
            color: black;
        }

        .nav-item a:hover {
            color: blue;
        }
        .image1{
            background-attachment: fixed;
            position:fixed;
        }
        
        .img2{
            background: url(./assets/img/image2.jpg);
            background-repeat:no-repeat;
            width:100%;
            border-radius: 16px;
            } 
        h1 {
            font-size: 46px;
            font-weight: 700;
            color: black;
        }

        th,
        h2 {
            font-size: 26px;
            font-weight: bold;

        }
h5{
    font-size:14px;
}
#foot-items{
    font-size: 8px;
justify-content: space-between;
font-size:bold;
}
        table,
        td,
        tr,
        th {
            border-collapse: collapse;
            border: none;
            column-span: 4px;
           
        }
        td{
            font-size: 14px;
        }

        th {
            text-align: left;

        }

        td {
            text-align: left;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            text-align: justify;
        }

        
        h6 {
            font-weight: bold;
        }

        footer {
            background: url("./assets/img/foot-m-1px.png");
            background-repeat: no-repeat;
            height: 52vh;
            background-position-x: center;
        }
        hr {
            border-top: 4px solid black;
            width: 100%;
            border-radius: 2px;
            opacity: 2;
            left:5px;
            margin: 0rem 0rem;
    
        }
    #foot-items .nav-link{
        font-size:11px;
    }
        hr {
            align-items: center;
        }
    
        .copy {
            text-align: center;
            font-size:12px;
        }
    }
    @supports (display: flex) {
    @media only screen and (min-width: 720px) and (max-width: 920px) and (orientation: landscape){
        * {
            font-family: "Roboto";
            color: black;
        }
        .wrapper {
           max-width: 920px;
          min-width:720px;
         margin-left: auto;
            margin-right:auto; 
        }
        .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            width: 100%;
            padding-left: var(--bs-gutter-x,.5rem);
        }
        .navbar-nav .nav-item .nav-link {
            font-size: 16px;
            font-weight: bold;
            color: black;
        }
        .banner .hero-image {
            background-image:url("./assets/img/image1-desk.png");
            height: 60vh;
            border-radius: 16px;
            width:100%;
            flex:auto;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
          }
          .img2{
            width:90%;
          }
        a {
            color: black;
        }
        
        .nav-item a:hover {
            color: blue;
        }
        
        .container {
            width: 100%;
            height: 100vh;
        }
        
        h1 {
            font-size:74px;
            font-weight: 700;
            color: black;
        }
        
        th,
        h2 {
            font-size:45px;
            font-weight: 700;
        
        }
        
        table,
        td,
        tr,
        th {
            border-collapse: collapse;
            border: none;
            column-span: 8px;
            
        }
        
        th {
            text-align: left;
        }
        
        td {
            text-align: left;
            font-size:13px;
            font-weight:bold;
        }
        
        p {
            font-size: 16px;
            font-weight: 500;
            text-align: justify;
        }
        .box {
            position: relative;
        }
        
        .img-title {
            position: absolute;
            text-align: left;
            left: 85px;
            right: 0;
            top: 40%;
        }
        
        h6 {
            font-weight: bold;
        }
        
        footer {
            text-align: center;
            background: url("./assets/img/img-desk-footer.png");
            background-repeat: no-repeat;
            height: 75vh;
            background-position-x:center;
            border-radius: 12px;
        }
        .col-md-8 {
            flex: 0 0 auto;
            width: 96.6666666667%;
        }
        .col-sm-8 {
            flex: 0 0 auto;
            width: 106.6666666667%;
        }
        .col-md-4 {
            flex: 0 0 auto;
            width: 103.3333333333%;
        }
        .col-sm-6 {
            flex: 0 0 auto;
            width: 100%;
        }
        .row-cols-md-4>* {
            flex: 0 0 auto;
            width: 33%;
        }
        
        .mt-5 {
            margin-top: 1rem!important;
        }
        .my-4 {
            margin-top: 1.5rem !important;
            margin-bottom: 1.5rem;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            border-top: 3px solid black;
        }
        
        hr {
            border-top: 5px solid black;
            width: 50%;
            border-radius: 2px;
            opacity: 2;
            margin: 8rem 1rem;
            margin-top: 1.5rem !important;
        
        }
        .img-app{
               padding-left:80px;
          
        }
        hr {
            align-items: center;
        }
        
        .copy {
            text-align: center;
        }
    }
} 
   
