
/* @media only screen and (min-width:769px) and (max-width: 1424px){ */
	@media only screen and (max-width:1400px){
		* {
			margin: 0;
			box-sizing: border-box;
		}
		.mobile-nav{
			display:none;
		  
		} 
		body {
			font-family: "Roboto", sans-serif;
		}
		
		.wrapper {
			width: 1400px;
			margin: 0 auto;
			padding: 0 24px;
			padding-top: 34px;
		}
		p{
			font-weight:300;
			color:black;
		}
		h1{
			font-size:80px;
			font-weight:700;
		}
		h2{
			font-size:45px;
			font-weight:700;
		}
		.banner{
			position:relative;
			width:100%;
			height:60vh;
			/* max-height:100vh; */
			/* height:calc(100vh - 80px); */
			 top:88px;
			left:24px;
		   right:50px;
			display:flex;
			/* flex-shrink: inherit; */
			justify-content: center;
			align-items:center;
			background:url(../img/image1.png);
			border-radius:16px;
			/* background:no-repeat; */
			/* background-size:cover; */
			/* border-radius:16px; */
		}
		header{
			position:fixed;
			left:0;
			width:100%;
			padding-top:25px;
			padding-left:24px;
			padding-bottom:10px;
			z-index:10000;
			display:flex;
			justify-content: space-between;
			align-items:center;
			transition:0.5s;
		}
		header.sticky{
			background:white;
			padding:10px 5px;
			   box-shadow:0 5px 5px rgba(0,0,0,0.05);
		}
		header .logo{
			top:34px;
			left:24px;
		}
		header .sticky .logo{
			color:white;
		}
		header .navigation{
			position:relative;
			display:flex;
		}
		header .navigation li{
			list-style:none;
			margin-left:30px;
		}
		header .navigation li a{
			text-decoration: none;
			font-size:16px;
			font-weight:bold;
			color:black;
			position: relative;
		}
		header .sticky .navigation li a{
			color:#111;
		}
		header .navigation li a:hover
		{
			color:rgb(19, 19, 211);
		}
		section{
			padding:90px;
			padding-bottom:2px;
		}
		
		/* .desktop-nav .menu-items li a.active::after{
				content:"";
				position:absolute;
				height:3px;
				width:100%;
				background-color: rgba(4, 4, 51, 0.534);
				left:0;
				bottom:-14px;
			} */
		.hero-image {
			position: absolute;
			max-width: 100%;
			/* width: 1024px;
			height: 381px; */
			/* left: 12px; */
			right: 20px;
			padding-top: 20px;
			width: 1392px;
			height: 450px;
			left: 24px;
			top: 88px;
			overflow-x: visible;
			/* background: url(assets/img/image1.png); */
			border-radius: 16px;
		}
		
		a.btn {
			/* background:black;
			color: rgb(14, 13, 13);
			border-radius: 24px;
			padding: 14px 30px;
			text-decoration: none;
			font-weight: bold; */
			transition: background-color 400ms;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			position: absolute;
			border-radius: 4px;
			text-decoration: none;
			width: 103px;
			height: 51px;
			left: 141px;
			top: 1289px;
			/* text-emphasis-color: white; */
			background: #000000;
			border-radius: 4px;
		}
		
		a.btn3 {
			transition: background-color 400ms;
			position: absolute;
			width: 103px;
			height: 51px;
			left: 669px;
			top: 2347px;
			background: #000000;
			color: #ffffff;
			line-height: 39px;
			transition: background-color 400ms;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			border-radius: 4px;
			text-decoration: none;
			text-align:center;
			/* width: 103px;
			height: 51px;
			left: 141px;
			top: 1289px; */
		}
		/* section a.btn {
			display: inline-block;
		  } */
	
		
		a.btn:hover {
			background: grey;
		}
		
		a.btn2:hover {
			background: grey;
		}
	a.head2,a.head3{
		text-decoration:none;
	}
		
		.image1 {
			/* image 1 */
			position: absolute;
			max-width: 100%;
			width: 1040px;
			height: 381px;
			left: 12px;
			right: 20px;
			top: 88px;
			overflow-x: visible;
			background: url(image1.jpeg);
			border-radius: 16px;
		}
		/* Get found andgrow your business. */
		.text1 {
			position: absolute;
			width: 806px;
			height: 188px;
			left: 141px;
			top: 586px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 80px;
			line-height: 94px;
			color: #000000;
		}
		/* Rectangle 7 */
		.get-app {
			position: absolute;
			width: 335px;
			height: 301px;
			left: 963px;
			top: 586px;
			background: #FFFFFF;
			border: 1px solid #767676;
			box-sizing: border-box;
			border-radius: 16px;
		}
		/* Rectangle 8 */
		.rect-8 {
			position: absolute;
			width: 335px;
			height: 156px;
			left: 963px;
			top: 586px;
			background: #000000;
			border-radius: 16px 16px 0px 0px;
		}
		/* Reach your potential customers by downloading the Bohni app. */
		.p1 {
			position: absolute;
			width: 287px;
			height: 38px;
			left: 987px;
			top: 622px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #ffffff;
		}
		/* Sign up and upload your shop items in a few easy steps. */
		.p2 {
			position: absolute;
			width: 287px;
			height: 38px;
			left: 987px;
			top: 668px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}
		/* image 3 */
		.img3 {
			position: absolute;
			width: 169px;
			height: 113px;
			left: 1046px;
			top: 758px;
			background: url(../img/image3.jpg);
		}
		
		.p3 {
			position: absolute;
			width: 512px;
			height: 57px;
			left: 141px;
			top: 798px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.head2 {
			position: absolute;
			width: 238px;
			height: 49px;
			left: 141px;
			top: 935px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 49px;
			color: #000000;
		}
		
		.p4 {
			position: absolute;
			width: 512px;
			height: 38px;
			left: 141px;
			top: 1000px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.p5 {
			position: absolute;
			width: 512px;
			height: 76px;
			left: 141px;
			top: 1197px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.s1 {
			position: absolute;
			height: 49px;
			width: 104px;
			left: 141px;
			top: 1062px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 49px;
			color: #000000;
		}
		
		.s2 {
			position: absolute;
			width: 80px;
			height: 49px;
			left: 298px;
			top: 1062px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 49px;
			color: #000000;
		}
		
		.s3 {
			position: absolute;
			width: 67px;
			height: 49px;
			left: 469px;
			top: 1062px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 49px;
			color: #000000;
		}
		
		.s4 {
			position: absolute;
			width: 129px;
			height: 19px;
			left: 141px;
			top: 1116px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
		}
		
		.s5 {
			position: absolute;
			width: 139px;
			height: 57px;
			left: 298px;
			top: 1116px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.s6 {
			position: absolute;
			width: 139px;
			height: 38px;
			left: 469px;
			top: 1116px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		/* Rectangle 1 */
		.rect1 {
			position: absolute;
			width: 103px;
			height: 51px;
			left: 141px;
			top: 1289px;
			background: #000000;
			border-radius: 4px;
		}
		
		/* Sign up */
		.signup {
			position: absolute;
			width: 55px;
			height: 19px;
			left: 165px;
			top: 1305px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}
		
		.img2 {
			position: absolute;
			width: 688px;
			height: 500px;
			left: 658px;
			top: 935px;
			background: url(../img/image2.jpg);
			border-radius: 16px;
		}
		
		.head3 {
			position: absolute;
			width: 480px;
			height: 49px;
			left: 141px;
			top: 1483px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 49px;
			color: #000000;
		}
		
		.s7 {
			position: absolute;
			width: 963px;
			height: 19px;
			left: 141px;
			top: 1548px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.rect2 {
			position: absolute;
			width: 336px;
			height: 385px;
			left: 181px;
			top: 1591px;
			background: #FFFFFF;
			border: 1px solid #767676;
			box-sizing: border-box;
			border-radius: 16px;
		}
		
		.s8 {
			position: absolute;
			width: 105px;
			height: 19px;
			left: 286px;
			top: 1774px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.rect3 {
			position: absolute;
			width: 336px;
			height: 385px;
			left: 543px;
			top: 1591px;
			background: #FFFFFF;
			border: 1px solid #767676;
			box-sizing: border-box;
			border-radius: 16px;
		}
		
		.s9 {
			position: absolute;
			width: 125px;
			height: 19px;
			left: 639px;
			top: 1774px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: hsl(0, 0%, 0%);
		}
		
		.rect4 {
			position: absolute;
			width: 336px;
			height: 385px;
			left: 905px;
			top: 1591px;
			background: #FFFFFF;
			border: 1px solid #767676;
			box-sizing: border-box;
			border-radius: 16px;
		}
		
		.s10 {
			position: absolute;
			width: 146px;
			height: 19px;
			left: 999px;
			top: 1774px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.head5 {
			position: absolute;
			width: 285px;
			height: 19px;
			left: 181px;
			top: 2000px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.s11 {
			position: absolute;
			width: 336px;
			height: 38px;
			left: 181px;
			top: 2027px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.head6 {
			position: absolute;
			width: 224px;
			height: 19px;
			left: 553px;
			top: 2000px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.s12 {
			position: absolute;
			width: 336px;
			height: 38px;
			left: 553px;
			top: 2027px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.head7 {
			position: absolute;
			width: 177px;
			height: 19px;
			left: 915px;
			top: 2000px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			color: #000000;
		}
		
		.s13 {
			position: absolute;
			width: 336px;
			height: 57px;
			left: 915px;
			top: 2027px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		
		.img6 {
			position: absolute;
			width: 1040px;
			height: 381px;
			left: 200px;
			top: 2132px;
			background: url(../img/Rectangle\ 6.jpg);
			opacity: 0.9;
			border-radius: 16px;
		}
		
		.head8 {
			position: absolute;
			width: 733px;
			height: 49px;
			left: 354px;
			top: 2247px;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 49px;
			text-align: center;
			color: #000000;
		}
		
		.s15 {
			position: absolute;
			width: 464px;
			height: 19px;
			left: 487px;
			top: 2312px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: center;
			color: #000000;
		}
		
		.signup3 {
			/* Rectangle 5 */
			position: absolute;
			width: 103px;
			height: 51px;
			left: 669px;
			top: 2347px;
			background: #000000;
			border-radius: 4px;
			color: #ffffff;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			line-height: 39px;
			color: #FFFFFF;
		}
		
		.line {
			position: absolute;
			width: 570px;
			height: 0px;
			left: 435px;
			top: 2593px;
			border: 1px solid #000000;
		}
		/* Why join us */
		.why2 {
			position: absolute;
			width: 82px;
			height: 19px;
			left: 520px;
			top: 2629px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: right;
			color: #000000;
		}
		
		/* How it works */
		.how {
			position: absolute;
			width: 93px;
			height: 19px;
			left: 634px;
			top: 2629px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: right;
			color: #000000;
		}
		
		/* Boni, 2021 */
		.boni {
			position: absolute;
			width: 184px;
			height: 19px;
			left: 610px;
			top: 2684px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: right;
			color: #000000;
		}
		
		.contact {
			position: absolute;
			width: 77px;
			height: 19px;
			left: 759px;
			top: 2629px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: right;
			color: #000000;
		}
		
		.bottom-sign {
			position: absolute;
			width: 53px;
			height: 19px;
			left: 868px;
			top: 2629px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			/* identical to box height */
			text-align: right;
			color: #000000;
		}
		}
	
/* Mobile View */
@media only screen and (max-width: 420px){
	.desktop-container{
		display:none;
		}
	* {
	  overflow-x: hidden;
	  padding: 0px !important;
	  margin: 0px !important;
	}
	
	.wrapper {
		/* width: 420px; */
		/* margin: 0 auto; */
		/* padding-left:12px; */
		/* padding-bottom:12px; */
		padding-top: 24px;
		margin-right: auto;
  margin-left:  15px;
  max-width: 420px;
  padding-right: 10px;
  padding-left:  10px;
	}
	
		.mobile-nav{
			font-family:"Roboto";
		}
	
		  .v184_3 {
			width: 320px;
			height: 3778px;
			background: rgba(255,255,255,1);
			opacity: 1;
			position: relative;
			topt: 0px;
			overflow: hidden;
		  }
		  .v184_8 {
			width: 57px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 35px;
			left: 132px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 12px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_9 {
			width: 288px;
			height: 93px;
			background: url("../img/image1-m-1px.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 1;
			position: absolute;
			top: 88px;
			left: 16px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		  }
		  .v184_11 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 205px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 40px;
			opacity: 1;
			text-align: left;
			line-height: 45px;
		  }
		  .v184_12 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 358px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_13 {
			width: 287px;
			height: 301px;
			background: rgba(255,255,255,1);
			opacity: 1;
			position: absolute;
			top: 481px;
			left: 16px;
			border: 1px solid rgba(118,118,118,1);
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			overflow: hidden;
		  }
		  .v184_14 {
			width: 287px;
			height: 156px;
			background: rgba(0,0,0,1);
			opacity: 1;
			position: absolute;
			top: 481px;
			left: 16px;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			overflow: hidden;
		  }
		  .v184_15 {
			width: 169px;
			height: 113px;
			background: url("../img/v184_15.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 1;
			position: absolute;
			top: 653px;
			left: 75px;
			overflow: hidden;
		  }
		  .v184_16 {
			width: 239px;
			color: rgba(255,255,255,1);
			position: absolute;
			top: 517px;
			left: 40px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_17 {
			width: 239px;
			color: rgba(255,255,255,1);
			position: absolute;
			top: 563px;
			left: 40px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_18 {
			width: 204px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1056px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 36px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_29 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1678px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 36px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_19 {
			width: 287px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1114px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_20 {
			width: 129px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1241px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_21 {
			width: 139px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1241px;
			left: 173px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_22 {
			width: 139px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1368px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_23 {
			width: 104px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1187px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 42px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_24 {
			width: 80px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1187px;
			left: 173px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 42px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_25 {
			width: 67px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1314px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 42px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_26 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1430px;
			left: 16px;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_30 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 1778px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_27 {
			width: 103px;
			height: 51px;
			background: rgba(0,0,0,1);
			opacity: 1;
			position: absolute;
			top: 1579px;
			left: 16px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		  }
		  .v184_28 {
			width: 55px;
			color: rgba(255,255,255,1);
			position: absolute;
			top: 1595px;
			left: 40px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_32 {
			width: 288px;
			height: 330px;
			background: rgba(255,255,255,1);
			opacity: 1;
			position: absolute;
			top: 1859px;
			left: 16px;
			border: 1px solid rgba(118,118,118,1);
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			overflow: hidden;
		  }
		  .v184_40 {
			width: 288px;
			height: 330px;
			background: rgba(255,255,255,1);
			opacity: 1;
			position: absolute;
			top: 2294px;
			left: 16px;
			border: 1px solid rgba(118,118,118,1);
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			overflow: hidden;
		  }
		  .v184_44 {
			width: 288px;
			height: 330px;
			background: rgba(255,255,255,1);
			opacity: 1;
			position: absolute;
			top: 2729px;
			left: 16px;
			border: 1px solid rgba(118,118,118,1);
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			overflow: hidden;
		  }
		  .v184_33 {
			width: 105px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2015px;
			left: 108px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_41 {
			width: 125px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2450px;
			left: 98px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: center;
		  }
		  .v184_45 {
			width: 146px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2885px;
			left: 87px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: center;
		  }
		  .v184_34 {
			width: 285px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2205px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_42 {
			width: 224px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2640px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_46 {
			width: 177px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3075px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_35 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2232px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_43 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 2667px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_47 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3102px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_48 {
			width: 287px;
			height: 105px;
			background: url("../img/v184_48.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 1;
			position: absolute;
			top: 3207px;
			left: 17px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		  }
		  .v184_49 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3328px;
			left: 16px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 36px;
			opacity: 1;
			line-height: 42px;
			text-align: left;
		  }
		  .v184_50 {
			width: 288px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3473px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_51 {
			width: 103px;
			height: 51px;
			background: url("../img/v184_15.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 1;
			position: absolute;
			top: 3524px;
			left: 16px;
			overflow: hidden;
		  }
		  .v184_52 {
			width: 103px;
			height: 51px;
			background: rgba(0,0,0,1);
			opacity: 1;
			position: absolute;
			top: 0px;
			left: 0px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		  }
		  .v184_53 {
			width: 55px;
			color: rgba(255,255,255,1);
			position: absolute;
			top: 16px;
			left: 24px;
			font-family: Roboto;
			font-weight: Bold;
			font-size: 16px;
			opacity: 1;
			text-align: left;
		  }
		  .v184_56 {
			width: 53px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3651px;
			left: 251px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: right;
		  }
		  .v184_57 {
			width: 82px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3651px;
			left: 16px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: right;
		  }
		  .v184_58 {
			width: 93px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3651px;
			left: 128px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: right;
		  }
		  .v184_59 {
			width: 84px;
			color: rgba(0,0,0,1);
			position: absolute;
			top: 3706px;
			left: 118px;
			font-family: Roboto;
			font-weight: Regular;
			font-size: 16px;
			opacity: 1;
			text-align: right;
		  }
		  .name {
			color: #fff;
		  }
		  .v184_61 {
			width: 288px;
			height: 210px;
			background: url("../img/v184_61.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 1;
			position: absolute;
			top: 830px;
			left: 16px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			overflow: hidden;
		  }
		  
	}